.parcs_title {
    display: flex;
    font-size: 3em;
    color: white;
    text-shadow: black 2px 2px;
    text-decoration: underline;
    margin: 2%;

}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1%;
    color: white;
}

.parcs_title {
    display: inline;
    font-size: 3em;
    color: white;
    text-shadow: black 2px 2px;
    text-decoration: underline;
    margin: 2%;

}

.parcs_section1 {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin: 2%;
}

.parcs_section2 {
    display: flex;
    flex-direction: row;
    color: black;

}

.parcs_section2 li {
    list-style-type: none;

}

.parcs_section2 a {
    color: black;
}

.west {
    display: flex;
    flex-direction: column;
    border: solid black;
    border-radius: 25px;
    width: 30%;
    margin: 2%;
    background-color: rgba(255, 255, 255, 0.5);
}

.center {
    display: flex;
    flex-direction: column;
    border: solid black;
    border-radius: 25px;
    width: 30%;
    margin: 2%;
    background-color: rgba(255, 255, 255, 0.5);
}

.east {
    display: flex;
    flex-direction: column;
    border: solid black;
    border-radius: 25px;
    width: 30%;
    margin: 2%;
    background-color: rgba(255, 255, 255, 0.5);
}

/* ------------footer---------- */

footer {
    background-color: rgba(255, 255, 255, 0.7);
    gap: 1%;
}

.adresse_footer,
.nav_footer {
    display: inline;
    list-style-type: none;
}

.content_footer_commun {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
}

.item1_footer_commun {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1%;
}

.item2_footer_commun {
    width: 100vw;
    border-top: solid 1px rgb(136, 136, 136);
    border-bottom: solid 1px rgb(136, 136, 136);

}


.nav_footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav_footer a {
    font-size: 1.5em;
    color: black;
    text-decoration: none;

    & :hover {
        color: #2D4FA2;
    }
}


.social {
    filter: invert(0);
}

.copyright {
    color: black;

}